//
//
// ! reboot styles
@import './init/bootstrap-reboot_min.scss';
// ! <------------
//
//
// ! fonts --------------------------------
@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../fonts/PFBeauSansPro-Light.eot');
    src: url('../fonts/PFBeauSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFBeauSansPro-Light.woff') format('woff'),
    url('../fonts/PFBeauSansPro-Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    }
@font-face {
    font-family: 'PFBeauSansPro';
    src: url('../.fonts/PFBeauSansPro-Black.eot');
    src: url('../fonts/PFBeauSansPro-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFBeauSansPro-Black.woff') format('woff'),
    url('../fonts/PFBeauSansPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    }
    * {
        font-family: 'PFBeauSansPro';
        font-weight: 400;
        color: #000;
    }
// ! <------------------------------------
//
//
// ! standart classes --------------------
// ? main color
    $main-color: #fff000;
    $link-color: #0184d0;
// ? <---------
    .container {
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
    }
    hr {
        margin: 0;
    }
    .hide {
        display: none;
    }
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration { display: none; }
// ! <------------------------------------
//
//
// ! modules -----------------------------
@import './modules/header';
@import './modules/menu';
@import './modules/service';
@import './modules/callback';
@import './modules/ourcompany';
@import './modules/footer';
@import './modules/modal';
// ! <------------------------------------